body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.004em;
    width: 75%;
    height: 63px;
    color: #75B79E;
    margin: 40px auto 30px auto;
}

aside {
    position: fixed;
    top: 2px;
    right: 0;
    display: flex;
    color: rgb(108, 122, 137);
}

span {
    padding-left: 3px;
}

button {
    position: relative;
    bottom: 15px;
    left: calc(50% - 100px);
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color: #75B79E;
    color: #EEF9BF;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.cartas {
    width: 80%;
    flex-shrink: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta {
    position: relative;
    width: 117px;
    height: 146px;
    margin: 17px;
}

.face {
    height: 100%;
    width: 100%;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.face img {
    width: 100px;
}

.naoVisivel {
    transform: rotateY(180deg);
}







